version: "3.4"

services:
  db:
    image: postgres:12
    environment:
      POSTGRES_DB: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "${DB_PORT}:5432"
      # command: ["postgres", "-c", "log_statement=all"]

  redis:
    image: redis:6.0-alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - ./db/cache:/data
    environment:
      REDIS_PASS: ${REDIS_PASS}
    command: sh -c "redis-server --appendonly yes --requirepass ${REDIS_PASS}"    